@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* share style  */
.display-flex {
    display: flex;

}

.btn-primary {
    background-color: #FF900E;
    color: white;
    border-style: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
}

/* dark 1 */
.text-dark-gray {
    color: #131313;
}

/* dark 2 */
.text-gray {
    color: #424242;
}

/* dark 3 */
.text-light-gray {
    color: #727272;
}

.bg-1 {
    background-color: rgba(255, 144, 14, 0.1);
}

.bg-2 {
    background-color: rgba(255, 244, 231, 1);
}

.text-primary {
    color: #FF900E;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* header style */

/* navbar related style */
.brand {
    font-weight: 700;
    font-size: 3rem;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;

}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-bar,
.banner {
    max-width: 1400px;
    margin: 0 auto;

}

.banner {
    padding-bottom: 45px;
}

/* banner style */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-image {
    width: 100%;
}

/* main section max width */
main {
    max-width: 1400px;
    margin: 0 auto;
}

/* team and feature r elated style*/
.teams {
    gap: 70px;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature {
    max-width: 530px;
}

#quick-list {
    font-weight: 500;
}
/* feature section related style */
#feature-border{
    border-left: 5px solid #FF900E;
    padding: 21px;
}
/* feature card style */
.feature{
    display: flex;
    gap: 140px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
#expreince-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -80px;
}
#expreince-year{
    font-size: 4rem;
    font-weight: 700; 
}
.feature-image img{
    width: 100%;
}

/* some-fact-related style */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    color: #727272;
}

.fact-description {
    max-width: 542px;
    margin-bottom: 80px;

}

/* sponsored related info */
.sponsored-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsored-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsored-company img {
    filter: grayscale(100%);
}








/* responsive media qauary */
@media screen and (max-width:576px) {

    .nav-bar,
    .nav-links,
    .teams,
    .feature {
        flex-direction: column;
    }
 
    .banner-image {
        width: 100%;
    }

    .team-img-container,
    .fact-container,
    .sponsored-company {
        grid-template-columns: repeat(1, 1fr);
    } 
    #expreince-badge{
        margin-top: 20px;
        margin-left: 20px;

    }

    .fact-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsored-company {
        justify-items: center;
        gap: 40px;
    }

    .team-img-container img {
        width: 100%;
    }


}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .feature  {
        flex-direction: column;
    }
     #expreince-badge{
        margin-top: 20px;
        margin-left: 20px;

    }

    .fact-container,
    .sponsored-company {
        grid-template-columns: repeat(2, 1fr);
    }

    .some-fact,.sponsored-company {
        justify-items: center;
        gap: 50px;
    }


}